    {{#each this}}
      <li class="country__item">
        <img src='{{flags.svg}}' alt="{{name.official}} flag" width="40px" height="20px" style="margin-right: 10px;">
        <p class="country__name">{{name.official}}</p>
      </li>
    {{/each}}